.res-gif {
  height: 300px;
  display: flex;
  align-items: center;
}

.res-age {
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 280px;
}
